<div class="container-fluid">
    <br>
    <br>
    <br>
    <h1 class="title"><u>WELCOME TO THE QUOTES APP</u></h1>
    <br>
    <hr>
    <br>
    <div class="col-md-12 boxed">
        <div *ngFor='let quote of quotes; let i = index'>
            <h3 class="padding-quote">{{quote.name}}</h3>
            <div class="padding">
                <p>Author: {{ quote.author }}</p>
                <p>Submitted: {{ quote.submitDate|dateAgo }} by {{quote.submitter}}.</p>
            </div>
            <button (click)='toggleDetails(i)' class="btnmore">Show More</button>
            <app-quote-detail *ngIf = 'quote.showAuthor' [quotes]= 'quotes' (isComplete)= 'deleteQuote($event,i)'></app-quote-detail>
    </div>
   </div>
</div>   
<br>
<br>
<br>
<hr>
<br>
<br>
<br>
<div class="container">
    <div>
        <div>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>

    <br>
    <br>
    <br>
</div>
