/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
body {
   background-color: rgb(57, 57, 128);
}
.boxed {
    border: none ;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 10px 0px 20px 0px;
    font-weight: bolder;
    font-family: 'Playfair Display SC', serif;
    background-color: rgb(23, 23, 59);
    color: white;
}
.container {
    color:rgb(23, 23, 59);
    font-weight: bold;
    font-family: 'Playfair Display SC', serif;
}
.padding {
    padding: 10px;
}
.padding-quote {
    padding-top: 20px;
}
.fa-thumbs-up {
    color: green !important;
    font-size: 35px;
}
.fa-thumbs-down {
    color: red !important;
    font-size: 35px;
}
.margin {
    margin-left: 20px;
}
.container1 {
    background-color: rgb(90, 170, 197);
    text-align: center;
}