
<div class="container1">
    <br>
    <br>
    <h2 class="userform"><strong><u>POST A QUOTE</u></strong></h2>
    <br>
    <br>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <textarea class="form-control" id="name" placeholder="TYPE YOUR QUOTE HERE" rows="4" [(ngModel)]="newQuote.name" name="name" #name="ngModel"
                required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Please provide an actual quote</p>
            </div>
        </div>

        <div class="form-group">
            <input type="text" placeholder="NAME OF ORIGINAL AUTHOR" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author"
                #author="ngModel">
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Please provide the author's name</p>
            </div>

        </div>

        <div class="form-group">
            <input type="text" placeholder="YOUR NAME" required class="form-control" id="submitter" [(ngModel)]="newQuote.submitter"
                name="submitter" #submitter="ngModel">
            <div [hidden]="submitter.valid || submitter.pristine" class="alert alert-danger">
                <p>Please provide your name</p>
            </div>

        </div>
        <br>

        <button type="submit" class="btn">Submit Quote</button>
    </form>
    
</div>